<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title><%= title %></title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' />
   

</head>
<style>
    <%- include('portfolio.css') %>
</style>
<body>
    <aside>
        <nav>
           
            <img src="assets/camera.png" alt="logo"> 
            <a <% if(title == "Home") { %> class ="highlight" <% } %> href="/"><i class="material-icons md-36">home</i>
                <p>Home</p>
            </a>

            <a <% if(title == "About") { %> class ="highlight" <% } %> href="/about"><i class="material-icons md-36">person</i>
                <p>About</p>
            </a>

            <a <% if(title == "Gallery") { %> class ="highlight" <% } %> href="/gallery"><i class="material-icons md-36">image</i>
                <p>Gallery</p>
            </a>

            <a <% if(title == "Contact") { %> class ="highlight" <% } %> href="/contact"><i class="material-icons md-36">mail</i>
                <p>Contact</p>
            </a>

        </nav>
    
    </aside>
