<%- include('partials/header') %>

            <section class="about" id="about">
    
                <h2>About Me</h2>
                
                <p>
                   <img src="assets/about.jpg" id="img-about" alt="aastha"><span> Hello, I'm Aastha </span> I'm an ambisious web developer continuosly learning and developing new skills.
                    Professionaly graduate from Sardar Patel University and passing Web developer certificate course from SAIT.<br>
                </p>
    
                <p>   
                    I also aspire to be a photographer as my hobby is to shoot pictures outdoor & indoor. In free time, I enjoy watching movies, 
                    TV-series and walks & hikes in summer. 
                </p>
    
            </section>
        

    
        <div class="card-wrapper">
            
                    <div class="card1">
                        <img src="assets/collage.jpg" alt="Planting" class="cardpic">
                        <h2 class="card__title">Planting</h2><br>
                    </div>
                   
                    <div class="card2">
                        <img src="assets/marshall.jpg" alt="music" class="cardpic">
                        <h2 class="card__title">Music</h2><br>
                    </div>
                
                    <div class="card3">
                        <img src="assets/art.jpg" alt="Drawing" class="cardpic">
                        <h2 class="card__title">Drawing</h2>
                    </div>
               
        </div>
        <%- include('partials/footer') %>

