<%- include('partials/header') %>
<main>

    <header class="home" id="home"><br>
       
        <h1>I'm Aastha Patel</h1>
        <h5>Photographer // Editor</h5>
            
   

    <div class="title-image">

        <img src="assets/Aastha final b&w.jpg" alt="">
            
        <!-- <img src="assets/Aastha final.jpg" alt=""> -->

    </div>
    
    </header>

</main>
<%- include('partials/footer') %>
